* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

img {
    border: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active {
    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input[type=submit],
button[type=submit],
input[type=reset],
button[type=reset] {
    -webkit-border-radius: 0;
    border-radius: 0;

    -webkit-appearance: none;
    appearance: none;
}

:focus {
    outline: none;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



/*---------------
    Main styles
---------------*/
:root {
    --font_family: 'Roboto', sans-serif;

    --bg-main: #FEF7FF;
    --bg-primary: #65558F;
    --bg-secondary: #E8DEF8;
    --bg-secondary2: #D0BCFF;
    --color-main: #000;
    --color-primary: #21005D;
    --color-secondary: #fff;
}


html {
    height: 100%;

    background: var(--bg-main);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}


body {
    color: var(--color-main);
    font: 16px/1.5 var(--font_family);

    height: 100%;

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

body.lock {
    overflow: hidden;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-height: 100%;
}


main {
    flex: 1 0 auto;
}


.container {
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}


.flex {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}


.text-block {
    color: var(--color-main);
}

.text-block> :last-child {
    margin-bottom: 0 !important;
}

.text-block h1,
.text-block>.title {
    color: var(--color1);
    font-family: var(--font_family2);
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: var(--line_height_title);

    margin-bottom: 20px;
}

.text-block h3 {
    color: var(--color-main);
    font-family: var(--font_family);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.4;

    margin: 20px 0 15px;
}

.text-block p {
    text-align: justify;
    margin-bottom: 15px;
}


.main-title {
    color: var(--color-primary);
    font-family: var(--font_family);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 15px;
}

.main-title.center {
    text-align: center;
}

.main-title span {
    color: var(--color3);
}


*+.btn {
    margin-top: 20px;
}

.btn>* {
    text-decoration: none;
    cursor: pointer;
    display: flex;
    padding: 0 50px;
    height: 56px;
    border-radius: 10px;
    background: #31111D;
    color: var(--color-secondary);
    transition: .2s linear;
    align-items: center;
    align-content: center;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

/*---------------
   Header
---------------*/
header {
    position: relative;
    padding: 10px 0;
    height: 70px;
    background: var(--bg-primary);
    color: var(--color-secondary)
}

header .container {
    gap: 15px;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.logo {
    width: 70px;
}

.logo img {
    display: block;
    max-width: 100%;
}


.mobile-menu {
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: calc(100vh - 70px);
    background: var(--bg-primary);
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    transition: .2s linear;
}

.mobile-menu.visible {
    visibility: visible;
    opacity: 1;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px 25px;
}

.menu-item a {
    color: var(--color-secondary);
    text-decoration: none;
    transition: .2s linear;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
}


.lang-btn {
    margin-top: 25px;
}

.lang-btn a {
    display: inline-flex;
    align-items: center;
    align-content: center;
    gap: 10px;
    text-decoration: none;
    color: var(--color-secondary);
    font-size: 20px;
}

.lang-btn a svg {
    display: block;
    max-width: 100%;
}

.mob_menu_btn {
    position: relative;
    z-index: 70;

    width: 48px;
    height: 48px;
    margin-left: 15px;
    padding: 2px;

    cursor: pointer;
    transition: .2s linear;

    border: none;
    background: none;
}

.mob_menu_btn span {
    position: relative;

    display: block;

    width: 100%;
    height: 4px;
    border-radius: 50px;

    transition: .2s linear;

    background: var(--color-secondary);
}

.mob_menu_btn span+span {
    margin-top: 8px;
}

.mob_menu_btn.active span:nth-child(2) {
    opacity: 0;
}

.mob_menu_btn.active span:nth-child(1) {
    top: 12px;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.mob_menu_btn.active span:nth-child(3) {
    top: -12px;

    width: 100%;

    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

    opacity: 1;
}


/*---------------
   Main section
---------------*/
.about-section {
    margin: 30px 0;
}

.about-section__box {
    background: var(--bg-secondary);
    padding: 15px;
    border-radius: 10px;
}

.about-section__img {
    margin: 0 0 15px;
}

.about-section__img img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    margin: 0 auto;
}

.about-section__data {
    text-align: justify;
}



.label-box {
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
}

.label-box__icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.label-box__icon svg {
    display: block;
    max-width: 100%;
}


.info-sect {
    background: #f9dedc;
    padding: 30px 0;
}

.info-sect__box {
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
}

.info-sect__img {
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
}

.info-sect__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.info-sect__data {
    padding: 15px;
}

.event-item {
    background: var(--bg-secondary2);
    border-radius: 10px;
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, .15), 0 1px 3px 0 rgba(0, 0, 0, .3);
}

.event-item__img {
    display: block;
    width: 100%;
    height: 300px;
    position: relative;
}

.event-item__img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 10px 10px 0 0;
}

.event-item__data {
    padding: 15px;
}

.event-item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 5px;
    color: #21005d;
}

.event-item__desc {
    color: #21005d;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 15px;
    text-align: justify;
}

.event-item__label-box {
    color: #21005D;
}

.event-item__btn>* {
    background: #21005d;
}


.events {
    margin: 30px 0;
}

.events__grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

.events__grid>* {
    width: 100%;
}


/*---------------
   Footer
---------------*/
address {
    font-style: normal;
}

.footer {
    flex: 0 0 auto;
    background: var(--bg-primary);
    padding: 30px 0;
    color: var(--color-secondary);
    line-height: 1.5;
}

.footer ul li {
    list-style: none;
}

.footer ul li+li {
    margin-top: 10px;
}

.footer a {
    color: var(--color-secondary);
    text-decoration: none;
}

.footer__top {
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.map {
    display: block;
    width: 100%;
}

.footer__copy {
    margin-top: 50px;
    font-size: 14px;
}